$animation:0.3s all ease;
$primary:white;
$secondary:#397264;

#start-page-box{
  background-image: url('/assets/images/start-page/bg1.jpg');
  height: 100%;
  background-size: cover;
  position: relative;
  z-index: 1;

  .black-layer{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    z-index: 2;
  }

  @-webkit-keyframes CustomGradientBg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes CustomGradientBg {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes CustomGradientBg{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

  .gradient-bg{
    position: absolute;
    width: 100%;
    height: calc(50% - 8px);
    background-size: 300% 300%;
    background: white;
    // background: linear-gradient(270deg,rgba(232, 185, 36,0.6),rgba(0,0,0,0.6));// rgba(57,114,100,0.8);// #397264;
    -webkit-animation: CustomGradientBgame 30s ease 1s infinite normal none running;
    -moz-animation: CustomGradientBg 30s ease 1s infinite normal none running;
    animation: CustomGradientBg 30s ease infinite;
    top: 0;

  }





  .white-line{
    width: 100%;
    height: 6px;
    background: rgba(232, 185, 36,1);//$primary;
    position: absolute;
    z-index: 3;
    top:calc(50% - 8px);
  }


  .btn-start{
    z-index: 3;
    width:150px;
    height:150px;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:bold;
    position:relative;
    cursor: pointer;
    font-size: 20px;
    padding:40px !important;

    p{
      z-index: 4;
    }
    &:after {
      transition:$animation;
      content:'';
      position:absolute;
      left:0;
      top:0;
      bottom:0;
      right:0;
      border:6px solid rgba(232, 185, 36,1);
      background: white;
      z-index: -1;


    }

  }


}

@media screen and (min-width: 361px){
  .btn-start{
    &:hover {

      &:after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        color: black;
      }

    }
  }
}


@media screen and (max-width: 360px){

  #start-page-box{
    .btn-start{
      width: 90%;
      &:hover{

      }
    }
  }

}


