<div class="row m-0" id="start-page-box">
  <div class="black-layer d-flex align-items-center justify-content-center">
    <div class="white-line"></div>
    <div class="gradient-bg"></div>
    <p routerLink="/print-panel" class="btn-start d-flex align-items-center justify-content-center">
      <!-- <span class="col-12 p-0 m-0">Menadżer<br> drukarek</span> -->
      <svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-printer-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
        <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
        <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
      </svg>
    </p>

  </div>
</div>
