#printers-list-box{

  .btn-refresh{
    &:hover{
      color:grey;
    }
  }

  table{

    thead{
      th{
        &:last-child{
          // border-bottom: none;
        }
      }
    }

    th{
      font-size: 16px;
      cursor: pointer;
    }
    tr{
      td.config-buttons{
        button{
          &:hover{
            background:rgba(232, 185, 36,1);
            border:1px solid #333;
            color:#333;
          }
        }
      }

      .col:last-child {
        border-bottom: none !important;
      }

      td{

        .status-on{
          color:#339900;
          font-size: 20px;
        }
        .status-off{
          color:#343a40;
          font-size: 20px;
        }
        .status-warning{
          color:#ff9966;
          font-size: 20px;
        }
        .status-maintenance{
          color:#d10015;
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1030px) {
  .tab-col-5{
    display: none;
  }
  .tab-col-6{
    button{
      float: right !important;

      width: calc((100% - 0.4rem)/2);
      &:nth-child(even){
        margin-right: .4rem !important;
      }
      &:nth-child(odd){
        margin-right: 0 !important;
      }

      &:nth-child(1),&:nth-child(2){
        margin-bottom: 5px;
      }
    }
  }
}

@media screen and (max-width: 670px) {

  .tab-col-5{
    display: none !important;
  }
  .tab-col-1,.tab-col-2{
    width:10%;
    float: left;
    background: #e9ecef;
  }

  .tab-col-3{
    width:80%;
    float: left;
    background: #e9ecef;
  }

  .tab-col-6{
    overflow: auto;
    // background: #e8b924;;
    button.btn{
      width: 25%;
      margin-right: 0px !important;
      // background: white;
    }
  }

  table{
    border: none;
    tbody{
      border: none;
      tr{
        margin-bottom: 10px;
        display: block;
        // border: 2px solid #e8b924;

      }
      td{
        display: block;
        // width:80%;

        &.tab-col-1{width: 30%;}
      }
      th{
        // width: 20%;
        display: block;

      }
    }
    thead{
      th{
        display: none;

      }

    }
  }
}

@media screen and (max-width: 440px) {
  table{
    .tab-col-1{
      display: none !important;
    }
    .tab-col-2{
      width: 10%;
    }
    .tab-col-3{
      width: 90%;
    }
  }

}
