<app-loader [loaderStatus]="loaderStatus" [content]="loaderContent"></app-loader>

<div class="row m-0 mt-4" id="printers-list-box">

<!--------------- MODAL  -->
<ng-template #printerModal let-modal id="printer-list-modal">
  <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{modalWindow.title}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click'); closeModal()">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <!-- remove -->
          <div class="modal-body" *ngIf="modalWindow.type=='remove'">

            <div class="message text-left m-0 p-3 " [ngClass]="{
              'alert-danger': modalWindow.status == false ,
              'alert-success': modalWindow.status == true }" [innerHTML]="modalWindow.message">
            </div>

          </div>
          <div class="modal-footer" *ngIf="modalWindow.type=='remove'">
              <button type="button" class="btn small" (click)="modal.close(''); closeModal()" #closebutton  [ngClass]="(modalWindow.status)? 'btn-yellow col-3' : 'btn-light-grey'">{{modalWindow.rightButtonContent}}</button>
              <button type="button" class="btn btn-yellow small col-3" (click)="removePrinter(printerModal)" *ngIf="!modalWindow.status">Usuń</button>
          </div>
  <!-- end remove -->

  <!-- content info -->
          <div class="modal-body" *ngIf="modalWindow.type=='content'">

          </div>
          <div class="modal-footer" *ngIf="modalWindow.type=='content' && closeForm != 0">
              <button type="button" class="btn btn-primary" (click)="modal.close('')" #closebutton >Zamknij</button>
          </div>
<!-- end content info -->

  <!-- pdf report -->
          <div class="modal-body" *ngIf="modalWindow.type=='pdfReport'">
            <div class="message text-left m-0 p-3 " [ngClass]="{
              'alert-danger': modalWindow.status == false ,
              'alert-success': modalWindow.status == true }" [innerHTML]="modalWindow.message">
            </div>
          </div>
          <div class="modal-footer" *ngIf="modalWindow.type=='pdfReport' && closeForm != 0">
              <button type="button" class="btn btn-primary" (click)="modal.close('')" #closebutton >Zamknij</button>
          </div>
  <!-- end pdf report -->

</ng-template>



<div class="col-12 m-0 p-0">


  <h4 class="mt-3 mb-3 float-left col-12 col-xs-12 col-md-4 p-0">

    <button type="button" (click)="refreshPrintersTable()" placement="top" ngbTooltip="Odśwież"  class="btn float-left btn-refresh p-0 mr-2 " >
      <app-svg-icon [iconType]="'refresh'" class="mr-1"></app-svg-icon>
    </button>
    Lista urządzeń
  </h4>

  <input type="text" class="form-control float-right col-12 col-xs-12 col-md-8 mt-3 mb-3 search-printer" placeholder="Wyszukaj urządzenie..." [(ngModel)]="searchText" (keyup)="searchPrinter()" >


  <div class="card col-12 p-0">
    <table class="table table-hover m-0 printers-table" id="printers-table">
      <thead>
        <tr>
          <th scope="col" class="tab-col-1" (click)="sortPrinterArr('id',$event)"  data-sort="1" >ID <app-svg-icon [iconType]="tablePrinterSort.id"></app-svg-icon></th>

          <th scope="col" class="tab-col-2" (click)="sortPrinterArr('status',$event)"  data-sort="1" > Status <app-svg-icon [iconType]="tablePrinterSort.status"></app-svg-icon></th>
          <th scope="col" class="tab-col-3" (click)="sortPrinterArr('name',$event)"  data-sort="1">Nazwa <app-svg-icon [iconType]="tablePrinterSort.name"></app-svg-icon></th>
          <th scope="col" class="tab-col-4" (click)="sortPrinterArr('address_ip',$event)"  data-sort="1">Adress IP <app-svg-icon [iconType]="tablePrinterSort.address_ip"></app-svg-icon></th>
          <th scope="col" class="tab-col-5" >Lokalizacja</th>
          <th scope="col" class="table-header-last-th tab-col-6"></th>
        </tr>
      </thead>
      <tbody *ngIf="copyPrinters.length==0">
        <tr><td colspan="6"><h5 class="p-4 text-center font-weight-normal">Brak dostępnych urządzeń..</h5></td></tr>
      </tbody>
      <tbody *ngIf="copyPrinters.length>0">
        <tr *ngFor="let print of copyPrinters; index as i " class="printer-row-{{print.id}} printer-row">
          <th scope="row" class="tab-col-1">{{print.id}}</th>

          <td class="tab-col-2">

            <!-- <i class="hide" [ngClass]="(print.status == 0)? 'fa fa-toggle-off status-off' : (print.status==1)? 'fa fa-toggle-on status-on':(print.status==2)? 'fa fa-exclamation-triangle status-warning': 'fa fa-cog status-maintenance'" -->
            <!-- placement="top" ngbTooltip="Status:"></i> -->

            <i *ngIf="print.status == 0" class="fa fa-toggle-off status-off" placement="top" ngbTooltip="Status: wyłączone"></i>
            <i *ngIf="print.status == 1" class="fa fa-toggle-on status-on" placement="top" ngbTooltip="Status: włączone"></i>
            <i *ngIf="print.status == 2" class="fa fa-exclamation-triangle status-warning" placement="top" ngbTooltip="Status: awaria"></i>
            <i *ngIf="print.status == 3" class="fa fa-cog status-maintenance" placement="top" ngbTooltip="Status: wymaga przeglądu"></i>

          </td>

          <td class="tab-col-3">{{print.name}}</td>
          <td class="tab-col-4">{{print.address_ip}}</td>
          <td class="tab-col-5">{{print.location}}</td>

          <td class="justify-content-end config-buttons tab-col-6">
            <button  placement="top" ngbTooltip="Usuń" type="button" class="btn btn-outline-secondary  text-align float-right p-2"  (click)="removePrinterForm(print,printerModal,i)"><app-svg-icon [iconType]="'trash'"></app-svg-icon></button>

            <button placement="top" ngbTooltip="Edytuj" type="button" class="btn btn-outline-secondary mr-2 text-align float-right p-2" [routerLink]="['/print-panel/edit',print.id]"><app-svg-icon [iconType]="'edit'"></app-svg-icon></button>

            <button placement="top" ngbTooltip="Pobierz raport" type="button" class="btn btn-outline-secondary mr-2 float-right p-2"  (click)="generatePdfReport(print,printerModal)"><app-svg-icon [iconType]="'file'"></app-svg-icon></button>

            <button placement="top" ngbTooltip="Więcej informacji" type="button" class="btn btn-outline-secondary mr-2 float-right p-2"  [routerLink]="['/print-panel/view',print.id]"><app-svg-icon [iconType]="'i'"></app-svg-icon> </button>


          </td>
        </tr>


      </tbody>
    </table>

  </div>

</div>

</div>




