<app-layout-panel class="w-100 m-0">

  <div class="text-center p-4">
    <h1 class="font-weight-bold">Oops!</h1>
    <h4>Nie znaleziono strony, której szukasz</h4>
    <p>Wróć do panelu głównego</p>
    <button class="btn btn-yellow p-3" routerLink="/print-panel">
      PANEL GŁÓWNY
    </button>
  </div>

</app-layout-panel>
