button{
  &:hover,&:focus,&:active{
    // border: none;
    outline:none;
  }
}
.btn-outline-secondary:focus {
  box-shadow: none;
}

p{
  &:hover,&:focus,&:active{
    border: none;
    outline:none;
  }
}

.red{
  background: #F8D7DA;
  color:#d10015;
}

.green{
  background: #D4EDDA;
  color:#339900;
}

//--- Buttons
.btn-yellow{
  background: rgba(232, 185, 36, 1);
  border-radius: 0;
  padding: 15px;
  border:none;
  color:black;
  &:hover{
    background: rgba(232, 185, 36, 0.8);
  }

  &.small{
    padding: 10px;
  }
}

.btn-light-grey{
  background: rgba(186,186,186,1);
  border-radius: 0;
  padding: 15px;
  border:none;
  color:black;
  &:hover{
    background: rgba(186,186,186,0.8);
  }

  &.small{
    padding: 10px;
  }
}
