
  .input-group-prepend{
    .input-group-text{
      padding: 3px 10px !important;
    }
  }

  @media screen and (max-width: 450px) {
    form{
      button{
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;

      }
    }
  }


