
  <app-layout-panel class="w-100 m-0" [breadcrumbs]="breadcrumbs">


      <div id="printer-form-box col-12 p-0">

        <form [formGroup]="printerForm" (ngSubmit)="onSubmit()" class="col-lg-6 col-md-10 col-xs-12">

          <div class="form-group">

            <!-- Printer Name-->
            <label for="printerName">Nazwa urządzenia</label>

            <div class="input-group">
                <div class="input-group-prepend float-left" *ngIf="submitStatus">
                   <span class="input-group-text" [ngClass]="{'red': printerName.status=='INVALID', 'green': printerName.status=='VALID'}">
                     <app-svg-icon *ngIf="printerName.status == 'INVALID' && printerName.errors.required" [iconType]="printerName.status"></app-svg-icon>
                     <app-svg-icon *ngIf="printerName.status == 'VALID'" [iconType]="printerName.status"></app-svg-icon>
                   </span>
                </div>
                <input type="text" class="form-control float-left" id="printerName" formControlName="printerName">
            </div>

          </div>

          <div class="form-group">
                <!-- Printer Status-->
                <div class="form-group col-12 col-md-7 col-xs-12 p-0 float-left">
                  <label for="printerStatus">Status urządzenia</label>

                  <div class="input-group">
                      <select *ngIf="checkUrl=='create'"  class="form-control float-left" id="printerStatus" formControlName="printerStatus">
                        <option *ngFor="let s of printerStatusArr | slice:0:2" value={{s.id}} >{{s.name}}</option>
                      </select>
                      <div *ngIf="dataStorage.printers.length>0" class="w-100">
                        <select *ngIf="checkUrl=='edit'" disabled [ngModel]='activePrinter.status' class="form-control float-left" id="printerStatus" formControlName="printerStatus">
                          <option *ngFor="let s of printerStatusArr" value={{s.id}} >{{s.name}}</option>
                        </select>
                      </div>
                  </div>
                </div>

                <!-- Printer Color-->
                <div class="form-group col-12 col-md-4 col-xs-12 p-0 float-right">
                  <label for="printerColor">Obsługa kolorów</label>

                  <div class="input-group">
                      <select *ngIf="checkUrl=='create'"  class="form-control float-left" id="printerColor" formControlName="printerColor">
                        <option *ngFor="let s of printerColorArr" value={{s.id}} >{{s.name}}</option>
                      </select>
                      <div *ngIf="dataStorage.printers.length>0" class="w-100">
                        <select *ngIf="checkUrl=='edit'" [ngModel]='activePrinter.useColor' class="form-control float-left" id="printerColor" formControlName="printerColor">
                          <option *ngFor="let s of printerColorArr" value={{s.id}} >{{s.name}}</option>
                        </select>
                      </div>
                  </div>
                </div>
          </div>



          <!-- Printer Address-->
          <div class="form-group">
            <label for="printerAddress">Adres IP</label>

            <div class="input-group">
              <div class="input-group-prepend float-left" *ngIf="submitStatus">
                <span class="input-group-text" [ngClass]="{'red': printerAddress.status=='INVALID', 'green': printerAddress.status=='VALID'}">
                  <app-svg-icon *ngIf="printerAddress.status == 'INVALID'" [iconType]="printerAddress.status"></app-svg-icon>
                  <app-svg-icon *ngIf="printerAddress.status == 'VALID'" [iconType]="printerAddress.status"></app-svg-icon>
                </span>
              </div>
              <input type="text" class="form-control" id="printerAddress" formControlName="printerAddress" placeholder='0.0.0.0'>
            </div>

          </div>

          <!-- Printer Location-->
          <div class="form-group">
              <label for="printerLocation">Lokalizacja urządzenia</label>

              <div class="input-group">
                <div class="input-group-prepend float-left" *ngIf="submitStatus">
                  <span class="input-group-text" [ngClass]="{'red': printerLocation.status=='INVALID', 'green': printerLocation.status=='VALID'}">
                    <app-svg-icon *ngIf="printerLocation.status == 'INVALID' && printerLocation.errors.required" [iconType]="printerLocation.status"></app-svg-icon>
                    <app-svg-icon *ngIf="printerLocation.status == 'VALID'" [iconType]="printerLocation.status"></app-svg-icon>
                  </span>
                </div>
                <input type="text" class="form-control" id="printerLocation" formControlName="printerLocation" >
              </div>

          </div>

          <!-- Printer Format-->
          <div class="form-group">
            <label for="printerFormat">Format wydruku</label>

            <div class="input-group">
              <div class="input-group-prepend float-left" *ngIf="submitStatus">
                <span class="input-group-text" [ngClass]="{'red': printerFormat.status=='INVALID', 'green': printerFormat.status=='VALID'}">
                  <app-svg-icon *ngIf="printerFormat.status == 'INVALID'" [iconType]="printerFormat.status"></app-svg-icon>
                  <app-svg-icon *ngIf="printerFormat.status == 'VALID'" [iconType]="printerFormat.status"></app-svg-icon>
                </span>
              </div>
              <input type="text" class="form-control" id="printerFormat" formControlName="printerFormat">
            </div>

          </div>

          <!-- Printer Description-->
          <div class="form-group">
            <label for="printerDesc">Opis urządzenia</label>
            <textarea rows="6" class="form-control" id="printerDesc" formControlName="printerDesc"></textarea>
          </div>

          <button type="button" class="btn btn-light-grey col-3 float-left" routerLink="/print-panel">Anuluj</button>
          <button type="submit" class="btn btn-yellow col-6 float-right" >{{buttonContent}}</button>

        </form>
      </div>



  </app-layout-panel>




