@import "./../../../../../node_modules/bootstrap/dist/css/bootstrap.min.css";

body{
  font-size:16px !important;
}

.header-title{
  border-bottom:2px solid #e8b924 !important;
  text-align: right !important;
}

table.table{
  tbody{
    tr{
      td{
        text-align:left !important;
        font-size:18px !important;

      }
    }
  }

}
