<app-layout-panel class="w-100 m-0" [breadcrumbs]="breadcrumbs">
  <div id="printer-form-box" class=" col-12 p-0" *ngIf="activePrinter">

    <div class="form-group row m-0">
      <label for="staticEmail" class="p-0 col-sm-3 col-md-2 col-form-label font-weight-bold">Nazwa urządzenia:</label>
      <div class="col-sm-9 col-md-10 p-0">
        <p class=" font-weight-bold">{{activePrinter.name}}</p>
      </div>
    </div>

    <div class="form-group row m-0">
      <label for="staticEmail" class="p-0 col-sm-3 col-md-2 col-form-label font-weight-bold">Status urządzenia:</label>
      <div class="col-sm-9 col-md-10 p-0 ">
        <p class="">{{printerStatus}}</p>
      </div>
    </div>


    <div class="form-group row m-0">
      <label for="staticEmail" class="p-0 col-sm-3 col-md-2 col-form-label font-weight-bold">Adres IP:</label>
      <div class="col-sm-9 col-md-10 p-0">
        <p class="">{{activePrinter.address_ip}}</p>
      </div>
    </div>


    <div class="form-group row m-0">
      <label for="staticEmail" class="p-0 col-sm-3 col-md-2 col-form-label font-weight-bold">Lokalizacja:</label>
      <div class="col-sm-9 col-md-10 p-0">
        <p class="">{{activePrinter.location}}</p>
      </div>
    </div>

    <div class="form-group row m-0">
      <label for="staticEmail" class="p-0 col-sm-3 col-md-2 col-form-label font-weight-bold">Obsługa kolorów:</label>
      <div class="col-sm-9 col-md-10 p-0">
        <p class="">{{printerColor}}</p>
      </div>
    </div>

    <div class="form-group row m-0">
      <label for="staticEmail" class="p-0 col-sm-3 col-md-2 col-form-label font-weight-bold">Format wydruku:</label>
      <div class="col-sm-9 col-md-10 p-0">
        <p class="">{{activePrinter.printFormat}}</p>
      </div>
    </div>

    <div class="form-group row m-0">
      <label for="staticEmail" class="col-sm-3 col-md-2 col-form-label font-weight-bold p-0">Opis:</label>
      <div class="col-sm-9 col-md-10 p-0">
        <p class=" text-justify">{{activePrinter.desc}}</p>
      </div>
    </div>

    <div *ngIf="chartData.length>0">
      <p class="mt-3 col-form-label font-weight-bold mb-2 align-justify">Wykres statusu urządzenia z ostatnich 8 godzin:</p>
      <app-chart-area [chartData]="chartData" [chartLabels]="chartLabels" [chartYmin]="0" [chartYmax]="3">
      </app-chart-area>
    </div>


  </div>
</app-layout-panel>
