.breadcrumb{
  padding: 10px 16px;
  .breadcrumb-item{padding-top:3px;}
  .breadcrumb-item.home{padding-top:0px}
}
.menuLeft-icon{
  padding: 10px;
  border: 1px solid #E9ECEF;
  border-radius: .25rem;
  cursor: pointer;

  &:hover{
    background: #E9ECEF;
  }
}
