<nav aria-label="breadcrumb">
  <!-- <span class="float-left mr-2 menuLeft-icon">
    <app-svg-icon [iconType]="'list'" (click)="changeDisplayLeftPanel()"></app-svg-icon>
  </span> -->
  <ol class="breadcrumb">
    <li class="breadcrumb-item home"><a routerLink="/print-panel"><app-svg-icon [iconType]="'home'"></app-svg-icon></a></li>
    <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs" [ngClass]="{active: breadcrumb.active}">
      <a *ngIf="breadcrumb.link" [routerLink]="breadcrumb.link">{{breadcrumb.text}}</a>
      <span *ngIf="!breadcrumb.link">{{breadcrumb.text}}</span>
    </li>
  </ol>
</nav>
