$menuLeftWidth: 100px;

.layoutSideNav{
  height: 100%;
  width:$menuLeftWidth;
  background-color:#292D32;
  float: left;
  position: fixed;
}
.layoutSideNavContent{
  width: 100%;
  height: 100%;
  float: left;
  padding-left: $menuLeftWidth;
  max-width: 1400px;
  overflow: auto;
  padding-bottom: 30px !important;

}


@media screen and (max-width: 1150px) {
  .layoutSideNav{
    width: 0px;
    transition: width 0.5s;
  }
  .layoutSideNavContent{
    padding-left: 0px;
    padding: 15px;
    transition: padding-left 0.5s;
  }

  .layoutSideNav,.layoutSideNavContent{
    transition-timing-function: linear;
  }
}

@media screen and (min-width: 1151px) {
  .layoutSideNav{
    width: $menuLeftWidth;
    transition: width 0.5s;
  }
  .layoutSideNavContent{
    padding-left: $menuLeftWidth;
    transition: padding-left 0.5s;
  }

  .layoutSideNav,.layoutSideNavContent{
    transition-timing-function: linear;
  }
}

@media screen and (max-width: 570px) {
  .layoutSideNavContent{
    padding: 0px;
  }
}
