<app-loader [loaderStatus]="loaderStatus" [content]="content"></app-loader>

<div class="layoutSideNav h-100">
  <app-menu-left></app-menu-left>
</div>
<div class="layoutSideNavContent">
  <app-panel-content>
    <main>
      <app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>
      <ng-content></ng-content>
    </main>
  </app-panel-content>
</div>

