  <app-layout-panel class="w-100" [loaderStatus]="loaderStatus">

    <div class="col-12 m-0 p-0">
      <button type="button" routerLink="/print-panel/create" class="btn btn-yellow mt-4 col-12 col-md-6 col-lg-4 float-left" >
       <app-svg-icon [iconType]="'add2'" class="mr-2"></app-svg-icon> Dodaj urządzenie
      </button>
    </div>

    <app-printers-list class="col-12 m-0 p-0 float-left"></app-printers-list>

  </app-layout-panel>














<!--------------- MODAL  -->
<ng-template #printerModal let-modal id="panel-printer-modal">
  <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">{{modalWindow.title}}</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <!-- create -->
          <div class="modal-body" *ngIf="modalWindow.type=='create'">
            <app-printer-form [formType]="modalWindow.type" (closeForm)="closePrinterForm($event)" *ngIf="closeForm == 0"></app-printer-form>
            <p *ngIf="closeForm == 1" class="alert-success p-3 m-0">
              {{modalWindow.message}}
            </p>
          </div>
          <div class="modal-footer" *ngIf="modalWindow.type=='create' && closeForm != 0">
              <button type="button" class="btn btn-primary" (click)="modal.close('')" #closebutton >Zamknij</button>
          </div>
  <!-- end create -->

</ng-template>


