<div class="loader-box d-flex justify-content-center align-items-center" *ngIf="loaderStatus" >
    <div class="spinner-grow text-secondary" role="status" *ngFor="let load of loaderSize">
      <span class="sr-only"></span>
    </div>
    <!-- <br>
    {{content}} -->
</div>
