/* You can add global styles to this file, and also import other style files */
@import "./styles/variables.scss";
@import "./styles/global.scss";

html{
  width: 100%;
  height:100%;
  margin: 0;
}
 body{
  height: 100%;
  margin: 0;
 }

 @font-face {
  font-family: 'appFont';
  src: url('assets/fonts/myriad-web-pro/Myriad-Web-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
font-family: 'appFontBold';
src: url('assets/fonts/myriad-web-pro/Myriad-Web-Pro-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


body { margin: 0; font-family: appFont, sans-serif; }


